
h1 {
  text-align: center;
  padding-bottom: 10rem;
}

div #root {
  height: 5000px;
}

div #stream-container {
  justify-content: center;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 20rem;
}
